.Mbox2{
    margin-left:700px;
    margin-top: -120px;
}
.par1{
    color: #B3B3B3;
    margin-top: -18px;
    margin-left: 10px;
   
}
.Mbox2 a{
  color: black;
    text-decoration: none;
}
 .Ul1 li{
     margin-left: -10px;
     margin-top: 35px;
     list-style-type:none;
 }


